.active.civil {
  background-color: blue;
  color: white;
}

.active.computer {
  background-color: green;
  color: white;
}

.active.architect {
  background-color: rgb(224, 46, 123);
  color: white;
}
